.tabContent {
	overflow: auto;
	height: calc(100vh - var(--menu-height) - 48px);
	width: var(--side-menu-width);
}

/* Common styles for flex rows */
.flexRow {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}

/* Specific styles for wrapper, left, and right */
.wrapper {
	display: flex;
	gap: 20px;
	margin-left: 20px;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.right {
	margin-right: 20px;
}
