.Gear {
	height: 50px;
	pointer-events: none;
}

.GearPaused {
	animation-play-state: paused;
}

@media (prefers-reduced-motion: no-preference) {
	.GearSpin {
		animation: Gear-spin infinite 5s linear;
	}
}

@keyframes Gear-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
