.wrapper {
	margin: 10px;
	padding: 0;
	/* margin: 20px; */

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.wrapper textarea {
	color: black;
}

.json {
	font-size: medium;
	line-height: 13px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
