.wrapper {
	padding: 0;
	/* margin: 20px; */

	display: flex;
	flex-direction: column;
	/* background-color: aqua; */
	/* align-content: stretch; */
}

.json {
	font-size: medium;
	line-height: 13px;
}

.section {
	padding: 0;
	margin: 10px;

	display: flex;
	flex-direction: column;
	/* background-color: aqua; */
	/* align-content: stretch; */
}
