.ChartInterface {
	display: flex;
	min-height: 100vh;
	min-width: 100vh;
	align-items: flex-start;
	margin-top: 3rem;

	&___vertical-menu {
		width: 25%;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		border-radius: 5px;
		height: auto;
		max-height: 100vh;
		overflow-y: scroll;
		margin-right: 1rem;

		li {
			padding: 10px 10px 10px 0;

			span {
				word-break: break-all;
			}
		}

		h2 {
			word-wrap: break-word;
			padding: 10px 20px;
		}
	}

	&__layout-button {
		margin: 10px auto 20px;
	}

	&__content {
		width: 75%;
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
		position: relative;

		&::before {
			/* Hack: fix zoom on the graph */
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			min-width: 100px;
			width: 10%;
			height: 100%;
			z-index: 10;
		}

		canvas {
			left: 0;
		}
	}

	table {
		width: 100%;
		table-layout: fixed;
		word-wrap: break-word;

		td {
			padding: 10px 15px;
		}
	}
}
